<h1>Here are all the products in the inventory:</h1>

<% if @products.any?() %>
  <h3>Here are all the products:</h3>

  <ul>
    <% @products.each() do |product| %>
    <li><a href="/products/<%= product.id() %>"><%= product.description() %> <%= product.price() %></a></li>
    <% end %>
  </ul>

<% else %>
  <h3>Sadly there are no products yet to sell.</h3>
  <% end %>


<h1>Please add a product:</h1>

<form action="/products/new" method="post">
  <div class="form-group">
    <label for="description">Please enter description of product:</label>
    <input id="description" name="description" type="test">

    <label for="price">Please enter price of product:</label>
    <input id="price" name="price" type="test">
  </div>


  <button type="submit" class="btn-success">Add Product!</button>
</form>

<p><a href="/">Back to home</a></p>
